@model PopulationModel

@{
    ViewData["Title"] = "Index";
    int i = 0;
}

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="RangeBeginning" class="control-label"></label>
        <input asp-for="RangeBeginning" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="RangeEnd" class="control-label"></label>
        <input asp-for="RangeEnd" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Precision" class="control-label"></label>
        <input asp-for="Precision" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="NumberOfIndividuals" class="control-label"></label>
        <input asp-for="NumberOfIndividuals" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="NumberOfGenerations" class="control-label"></label>
        <input asp-for="NumberOfGenerations" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="CrossingProbability" class="control-label"></label>
        <input asp-for="CrossingProbability" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="MutationProbability" class="control-label"></label>
        <input asp-for="MutationProbability" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="ElitismSelection" class="control-label"></label>
        <input type="checkbox" asp-for="ElitismSelection" />
    </div>

    <div class="form-group">
        <input type="submit" value="Wprowadź" class="btn btn-primary" />
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                xReal
            </th>
            <th>
                Function value
            </th>
            <th>
                Translated Function Value
            </th>
            <th>
                Survive probability
            </th>
            <th>
                Survive distribution function
            </th>
            <th>
                r
            </th>
            <th>
                XReal after selection
            </th>
            <th>
                xBin after selection
            </th>
            <th>
                Parents
            </th>
            <th>
                Crossing Point
            </th>
            <th>
                Children
            </th>
            <th>
                xBin after crossing
            </th>
            <th>
                Mutant bits
            </th>
            <th>
                xBin after mutation
            </th>
            <th>xReal after mutation</th>
            <th>Function value after mutation</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Individuals)
        {
            <tr>
                <td>@(++i)</td>
                <td>
                    @item.XReal
                </td>
                <td>
                    @item.FunctionValue
                </td>
                <td>
                    @item.TranslatedFunctionValue
                </td>
                <td>
                    @item.SurviveProbability
                </td>
                <td>
                    @item.SurviveDistributionFunction
                </td>
                <td>
                    @item.R
                </td>
                <td>
                    @item.XRealAfterSelection
                </td>
                <td>
                    @item.XBinAfterSelection
                </td>
                <td>
                    @if (item.IsParent)
                    {
                        @item.XBinAfterSelection
                    }
                </td>
                <th>
                    @if(item.IsParent)
                    {
                        @item.CrossingPoint
                    }
                </th>
                <td>
                    @if (item.IsParent)
                    {
                        @item.XBinAfterCrossing
                    }
                </td>
                <td>
                    @item.XBinAfterCrossing
                </td>
                <td>
                    @item.MutantBits
                </td>
                <td>
                    @item.XBinAfterMutation
                </td>
                <td>
                    @item.XRealAfterMutation
                </td>
                <td>
                    @item.FunctionValueAfterMutation
                </td>

            </tr>
        }
    </tbody>
</table>
<form asp-action="Delete">
    <input type="submit" value="Wyczyść" class="btn btn-danger" />
</form>
