@model IEnumerable<AlgorytmGenetyczny.Models.XModel>

@{
    ViewData["Title"] = "Index";
    int i = 0;
}

<p>
    <a asp-action="Create">Wprowadź dane</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Lp</th>
            <th>
                @Html.DisplayNameFor(model => model.RangeBeginning)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RangeEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precision)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.XReal1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.XInt1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.XBin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.XInt2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.XReal2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FunctionValue)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@(++i)</td>
            <td>
                @Html.DisplayFor(modelItem => item.RangeBeginning)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RangeEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precision)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.XReal1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.XInt1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.XBin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.XInt2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.XReal2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FunctionValue)
            </td>
        </tr>
}
    </tbody>
</table>
<form asp-action="Delete">
    <input type="submit" value="Wyczyść" class="btn btn-danger" />
</form>
